{{#each maintenanceArr}}
    <div class="row py-0">
        <div class="card p-3">
            <div class="card-body p-1">
                <b><a href="/house/{{HOUSE_ID}}">House - {{HOUSE_ID}}</a></b>
                <p>
                    <b>{{CATEGORY}}</b> : {{DETAILS}}<br>
                </p>
                {{#compare RESOLVED 'no'}}
                    {{#if ../../isOwner}}
                        <form action="/owner/maintenance/post" method="post">
                            <input hidden type="number" name="maintenance_id" value={{../MAINTENANCE_ID}}>
                            <label>Cost: </label>
                            <input type="number" name="cost">
                            <input type="submit" value="Resolve">
                        </form>
                    {{else}}
                        <button style="color:red">NOT RESOLVED</button>
                    {{/if}}
                {{else}}
                    Cost: {{../COST}} taka <br><br>
                    <button style="color:green">RESOLVED</button>
                {{/compare}}
            </div>
        </div>
    </div>
{{/each}}
