{{#each maintenanceArr}}
    <div class="row py-0">
        <div class="card p-3">
            <div class="card-body p-1">
                <b><a href="/house/{{HOUSE_ID}}">House - {{HOUSE_ID}}</a></b>
                <p>
                    <b>{{CATEGORY}}</b> : {{DETAILS}}<br>
                </p>
                {{#compare RESOLVED 'no'}}
                    <form action="/owner/maintenance" method="post">
                        <input hidden type="number" name="mid" value={{../MAINTENANCE_ID}}>
                        <label>Cost: </label>
                        <input type="number" name="cost">
                        <input type="submit" value="Resolve">
                    </form>
                {{else}}
                    Cost: {{../COST}} taka <br><br>
                    <button>RESOLVED</button>
                {{/compare}}
            </div>
        </div>
    </div>
{{/each}}
