<div class="card" style="width: auto;">
    <h1 class="main-rating">{{avg_rating}}</h1>
    <div class="card-body">
        <table>
            {{#each ratingArr}}
                <tr>
                    <td>
                        <label> {{RATING}} <i class="fas fa-star"></i> ({{COUNT}}) </label>
                    </td>
                    <td style="padding-left: 10px">
                        <progress value={{COUNT}} max={{../ratingTotalCount}}></progress>
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
</div>

