{{#each commentArr}}
    <div class="card">
        <div class="card-body">
            <div>
                <table style="width: 100%">
                    <td style="width: 10%">
                        <img src="/images/dumb.jpg" height="40px" width="40px" style="border-radius: 50%;">
                    </td>
                    <td style="width: 60%; font-size: 20px">
                        {{#if ../isTenant}}
                            <a href="/owner/profile/{{OWNER_ID}}">{{OWNER_NAME}}</a><br>
                        {{else}}
                            <a href="/tenant/profile/{{TENANT_ID}}">{{TENANT_NAME}}</a><br>
                        {{/if}}
                        <small style="font-size: 15px">{{TIME}}</small>
                    </td>
                    <td style="width: 70%;">
                        <div style="float: right">
                            {{{starString RATING}}}
                        </div>
                    </td>
                </table>
            </div>
            <hr>
            <p>
                {{STATEMENT}}
            </p>
        </div>
    </div>
{{/each}}
