{{#each notification}}
    <div class="row py-0 px-5">
        <div class="card p-0">
            <div class="card-body p-1">
                <div>
                    <small style="font-size: 13px">{{NOTIFICATION_TIME}} &nbsp;&nbsp;|&nbsp;&nbsp;{{NOTIFICATION_TYPE}}</small>
                </div>
                <p>
                    <a href="/tenant/profile/{{TENANT_ID}}">{{TENANT_NAME}}</a> has
                    {{#compare NOTIFICATION_TYPE 'request'}}
                        requested to rent
                    {{/compare}}
                    {{#compare NOTIFICATION_TYPE 'follow'}}
                        followed
                    {{/compare}}
                    {{#compare NOTIFICATION_TYPE 'leave'}}
                        sent leave-notice for
                    {{/compare}}
                    {{#compare NOTIFICATION_TYPE 'deal'}}
                        confirmed a deal to rent
                    {{/compare}}
                    <a href="/house/{{HOUSE_ID}}">House - {{HOUSE_ID}}</a>
                </p>
            </div>
        </div>
    </div>
{{/each}}
