<div class="container main">
    <div class="row p-3 justify-content-center">
        <div class="col-11">
            <div style="float: right">
                {{>ratingCard}}
            </div>

            <div style="float: left;padding-right: 20px">
                <img src="/images/{{house.PROFILE_PICTURE}}" height="250px" width="220px">
            </div>

            <div style="padding: 5px 10px;"><h1>HOUSE - {{house.HOUSE_ID}}</h1></div>
            <div style="padding: 5px 5px;">
                <h4>
                    <b style="font-size: x-large; font-weight:1000;
                            color: {{#compare house.VACANT "yes"}} green {{else}} red{{/compare}}">
                        {{#compare house.VACANT "yes"}} VACANT {{else}}OCCUPIED{{/compare}}
                    </b><br>
                </h4>
            </div>
            <div style="padding: 5px 15px;"><h3>Price: {{house.PRICE}}</h3></div>
            <div style="padding-left: 15px">
                {{#if isOwner}}
                    <div style="padding: 7px">
                        <a href="/house/edit/{{house.HOUSE_ID}}">
                            <button class="wide-button">{{requestButtonText}}</button>
                        </a>
                    </div>
                    {{#compare house.VACANT "yes"}}
                        <div style="padding: 5px">
                            <a href="/house/activity/{{../house.HOUSE_ID}}">
                                <button class="wide-button">
                                    See Requests
                                </button>
                            </a>
                        </div>
                    {{/compare}}
                    {{#if leaveNoticeIssued}}
                        <div style="padding: 5px">
                            <a href="/house/request/{{house.HOUSE_ID}}/leave">
                                <button class="wide-button">
                                    Confirm leave notice for House - {{house.HOUSE_ID}}
                                </button>
                            </a>
                        </div>
                    {{/if}}
                {{else}}
                    <div style="padding: 5px">
                        <a href="/house/request/{{house.HOUSE_ID}}/{{action}}">
                            <button class="wide-button">{{requestButtonText}}</button>
                        </a>
                    </div>
                {{/if}}
                {{#compare requestButtonText 'Edit Info'}}
                    <div class="py-2 px-0">
                        <form action="/house/upload" method="post" enctype="multipart/form-data">
                            <label for="upload" class="btn">Add House Profile Picture</label>
                            <input hidden type="number" name="id" value={{../house.HOUSE_ID}}>
                            <input hidden type="text" name="type" value='propic'>
                            <input id="upload" accept=".jpg,.png" style="display: none" type="file"
                                   name="image">
                            <input type="submit" value="Upload">
                        </form>
                    </div>
                {{/compare}}
                <hr>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>

    {{#compare requestButtonText 'Edit Info'}}
        <div class="px-5 py-0">
            <form action="/house/upload" method="post" enctype="multipart/form-data">
                <label for="upload" class="btn">Add House Pictures</label>
                <input hidden type="number" name="id" value={{../house.HOUSE_ID}}>
                <input hidden type="text" name="type" value='otherpic'>
                <input id="upload" accept=".jpg,.png" style="display: compact" type="file" name="image" multiple>
                <input type="submit" value="Upload">
            </form>
        </div>
    {{/compare}}

    <div class="row p-3 py-0justify-content-center">
        <div id="cont">
            <div class="photobanner">
                {{#each images}}
                    <img src="/images/{{PICTURE}}" width="300px" height="300px">
                {{/each}}
            </div>
        </div>
    </div>

    <div style="padding: 30px 25px 15px;">
        <h2>Details</h2>
        <hr>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col">
            <div style="padding: 5px">
                <i class="fa-solid fa-house"></i>&emsp;House - {{house.HOUSE_ID}}
            </div>
            <div style="padding: 5px">
                <i class="fa-solid fa-house-chimney"></i>&emsp;{{house.NAME}}
            </div>
            <div style="padding: 5px">
                <i class="fa-solid fa-location-dot"></i>&emsp;{{house.AREA}}, {{house.SUBURB}}, {{house.DISTRICT}}
            </div>
            <div style="padding: 5px">
                <i class="fa-solid fa-house-user"></i>&emsp;owned by
                <a href="/owner/profile/{{house.OWNER_ID}}">{{house.OWNER_NAME}}</a>
            </div>
            {{#compare house.VACANT 'no'}}
                <div style="padding: 5px">
                    <i class="fa-solid fa-house-user"></i>&emsp;Current tenant:
                    <a href="/tenant/profile/{{../house.TENANT_ID}}">{{../house.TENANT_NAME}}</a>
                </div>
            {{/compare}}
            <div style="padding: 5px">
                <i class="fa-solid fa-dollar-sign"></i>&emsp;{{house.PRICE}} taka
            </div>
            <div style="padding: 5px">
                <i class="fa-solid fa-clock"></i>&emsp;{{house.CREATED}}
            </div>
            <div style="padding: 5px">
                <i class="fa-solid fa-bed"></i>&emsp;Bedrooms: {{house.BEDROOM}}
            </div>
            <div style="padding: 5px">
                <i class="fa-solid fa-shower"></i>&emsp;Bathrooms: {{house.BATHROOM}}
            </div>
            <div style="padding: 5px">
                <i class="fa-solid fa-arrows-to-dot"></i>&emsp;Space: {{house.SPACE}} sq ft
            </div>
            <div style="padding: 5px">
                <i class="fa-solid fa-arrow-up-right-dots"></i>&emsp;Floor level: {{house.FLOOR}}
            </div>
            <div style="padding: 5px">
                <i class="fa-solid fa-car"></i>&emsp;
                {{#if house.GARAGE}}
                    has
                {{else}}
                    does not have
                {{/if}}
                garage
            </div>
            <div style="padding: 5px">
                <i class="fa-solid fa-elevator"></i>&emsp;
                {{#if house.ELEVATOR}}
                    has
                {{else}}
                    does not have
                {{/if}}
                elevator
            </div>
            <div style="padding: 5px">
                <i class="fa-solid fa-arrow-up-right-dots"></i>&emsp;Minimum stay period before changing the
                house: {{house.MINIMUM_STAY}}
            </div>
            <div style="padding: 5px">
                <i class="fa-regular fa-note-sticky"></i>&emsp;"{{house.NOTE}}"
            </div>
        </div>
    </div>

    <div style="padding-left: 20px;padding-top: 20px;"><h1>Reviews</h1></div>
    <hr>
    {{#if canReview}}
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                {{>post-comment}}
            </div>
        </div>
    {{/if}}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            {{>read-comment}}
        </div>
    </div>
</div>
