<div class="container main">
    <div class="row p-3 justify-content-center">
        <div class="col-11">
            <div style="float: right">
                {{>ratingCard}}
            </div>

            <div style="padding: 15px"><h1>HOUSE - {{house.name}}</h1></div>
            <div style="padding: 15px"><h3>Price: {{house.price}}</h3></div>
            <div style="padding-left: 15px">
                {{#if house.vacant}}
                    <button class="wide-button">Request</button>
                {{else}}
                    <button class="wide-button">Follow</button>
                {{/if}}
                <hr>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>

    <div class="row p-3 justify-content-center">
        <div id="cont">
            <div class="photobanner">
                {{#each images as |image|}}
                    <img src="/images/dumb.jpg" width="200px" height=auto>
                {{/each}}
            </div>
        </div>
    </div>

    <div style="padding: 30px 25px 15px;">
        <h2>Details</h2>
        <hr>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col">
            <div style="padding: 5px">
                <i class="fa-solid fa-house"></i>&emsp;House - {{house.name}}
            </div>
            <div style="padding: 5px">
                <i class="fa-solid fa-house-chimney"></i>&emsp;{{house.altName}}
            </div>
            <div style="padding: 5px">
                <i class="fa-solid fa-location-dot"></i>&emsp;{{house.location}}
            </div>
            <div style="padding: 5px">
                <i class="fa-solid fa-house-user"></i>&emsp;owned by
                <a href="#">{{house.ownerName}}</a>
            </div>
            <div style="padding: 5px">
                <i class="fa-solid fa-dollar-sign"></i>&emsp;{{house.price}}
            </div>
            <div style="padding: 5px">
                <i class="fa-solid fa-clock"></i>&emsp;{{house.created}}
            </div>
            <div style="padding: 5px">
                <i class="fa-solid fa-bed"></i>&emsp;Bedrooms: {{house.bedroom}}
            </div>
            <div style="padding: 5px">
                <i class="fa-solid fa-shower"></i>&emsp;Bathrooms: {{house.bathroom}}
            </div>
            <div style="padding: 5px">
                <i class="fa-solid fa-arrows-to-dot"></i>&emsp;Space: {{house.space}} sq ft
            </div>
            <div style="padding: 5px">
                <i class="fa-solid fa-arrow-up-right-dots"></i>&emsp;Floor level: {{house.floor}}
            </div>
            <div style="padding: 5px">
                <i class="fa-solid fa-people-roof"></i>&emsp;Expected members: {{house.members}}
            </div>
            <div style="padding: 5px">
                <i class="fa-solid fa-car"></i>&emsp;
                {{#if house.garage}}
                    has
                {{else}}
                    does not have
                {{/if}}
                garage
            </div>
            <div style="padding: 5px">
                <i class="fa-solid fa-elevator"></i>&emsp;
                {{#if house.elevator}}
                    has
                {{else}}
                    does not have
                {{/if}}
                elevator
            </div>
            <div style="padding: 5px">
                <i class="fa-regular fa-note-sticky"></i>&emsp;"{{house.note}}"
            </div>
        </div>
    </div>

    {{#unless isOwner}}
        <div style="padding-left: 20px;padding-top: 20px;"><h1>Reviews</h1></div>
        <hr>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                {{>post-comment}}
            </div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                {{>read-comment}}
            </div>
        </div>
    {{/unless}}
</div>
