<div class="sidebar">
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>
<div class="navbar">
</div>

<div class="container main">
    <div class="row mt-1">
        <div class="col px-4">
            <div>
                <img src="/images/dumb.jpg" class="rounded float-left" style="height: 200px; width: 200px;">
            </div>
            <div>
                <div>{{type}}</div>
                <div>
                    <h2>{{name}}</h2>
                </div>
                <div>
                    {{catagory}} <br>
                    currently lives in {{location}} <br>
                    Contact via: <br>
                    &emsp; Email: {{email}} <br>
                    &emsp; Phone: {{phone}} <br>
                </div>
                <div>
                    <label for="house-menu">
                        owns {{house_num}} house{{s}}
                    </label>
                    <a href="#">
                        <button>See the houses</button>
                    </a>
                </div>
                <div>successfully rented {{tenant_num}} tenants</div>
            </div>
        </div>
        <div class="col">
            <div>
                <div class="card" style="width: 20rem;">
                    <h1 style="text-align: center; font-size: 400%;">{{rating}}</h1>
                    <div class="card-body">
                        {{>progressBar}}
                    </div>
                </div>
            </div>
            <div>
                {{>commentSection}}
            </div>
        </div>
    </div>
</div>