<div class="container main">
    <div class="row pt-5 px-5">
        <div class="col">
            <div>
                <img class="profile-pic" src="/images/dumb.jpg" style="float: left;height: 200px; width: 200px;"/>
                <div style="float: right">
                    {{>ratingCard}}
                </div>
                <div class="center"><h1 style="font-size: 350%">{{name}}</h1></div>
                <div class="center"><small>{{type}}</small></div>
                <hr>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col px-5">
            <div style="padding: 5px">
                <i class="fa-solid fa-user"></i>&emsp;{{category}}
            </div>
            <div style="padding: 5px">
                <i class="fas fa-home"></i>&emsp;currently lives in {{location}}
            </div>
            <div style="padding: 5px">
                <i class="fa-regular fa-envelope"></i>&emsp;{{email}}
            </div>
            <div style="padding: 5px">
                <i class="fas fa-phone-alt"></i>&emsp;{{phone}}
            </div>
            <div style="padding: 5px">
                <i class="fas fa-city"></i>&emsp;Total house owned: {{total_house_num}}
            </div>
            <div style="padding: 5px">
                <i class="fas fa-users"></i>&emsp;Currently vacant: {{vacant_house_num}}
            </div>
            <div style="padding: 8px">
                <a href="/house/list/{{id}}">
                    <button class="wide-button">See the houses</button>
                </a>
            </div>
        </div>
    </div>
</div>