<div class="container main">
    <div class="row pt-5 px-5">
        <div class="col">
            <div>
                <img class="profile-pic" src="/images/{{photo}}" style="float: left;height: 200px; width: 200px;"/>
                <div style="float: right">
                    {{>ratingCard}}
                </div>
                <div class="center"><h1 style="font-size: 350%">{{name}}</h1></div>
                <div class="center"><small>{{type}}</small></div>
                <hr>
            </div>
        </div>
    </div>

    {{#unless isViewer}}
        <div class="px-5 py-0">
            <form action="/tenant/profile/upload" method="post" enctype="multipart/form-data">
                <label for="upload" class="btn">Upload Profile Picture</label>
                <input hidden type="number" name="id" value={{id}}>
                <input id="upload" accept=".jpg,.png" style="display: none" type="file" name="image">
                <input type="submit" value="Upload">
            </form>
        </div>
        <br>
        <br>
    {{/unless}}

    <div class="row">
        <div class="col px-5">
            <div style="padding: 5px">
                <i class="fa-solid fa-user"></i>&emsp;{{job}}
            </div>
            {{#if house_id}}
                <div style="padding: 5px">
                    <i class="fa-solid fa-user"></i>&emsp;currently living in
                    <a href="/house/{{house_id}}">House-{{house_id}}</a>
                </div>
            {{/if}}
            <div style="padding: 5px">
                <i class="fas fa-home"></i>&emsp;currently lives in {{location}}
            </div>
            <div style="padding: 5px">
                <i class="fa-regular fa-envelope"></i>&emsp;{{email}}
            </div>
            <div style="padding: 5px">
                <i class="fas fa-phone-alt"></i>&emsp;{{phone}}
            </div>
            <div style="padding: 5px">
                <i class="fa-solid fa-people-group"></i>&emsp;Family members: {{members}}
            </div>
            {{#unless isViewer}}
                <div style="padding: 8px">
                    <a href="/tenant/edit">
                        <button class="wide-button">Edit profile</button>
                    </a>
                </div>
            {{else}}
                <div style="padding: 8px">
                    <a href="/message/{{viewerID}}/{{id}}">
                        <button class="wide-button">Message</button>
                    </a>
                </div>
            {{/unless}}
        </div>
    </div>

    <div style="padding-left: 20px;padding-top: 40px;"><h1>Reviews</h1></div>
    <hr>
    {{#if canReview}}
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                {{>post-comment}}
            </div>
        </div>
    {{/if}}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            {{>read-comment}}
        </div>
    </div>
</div>