<div class="sidebar-right">
    <form action="/tenant/search" method="get" id="search">
        <div class="row px-3">
            <h3>Place</h3>
            <hr>
            <div class="row px-3">
                <div class="col">
                    <label style="padding: 4px" for="suburb">Suburb </label>
                    <input type="text" value="{{search.suburb}}" name="suburb">
                </div>
            </div>

            <div class="row px-3">
                <div class="col">
                    <label style="padding: 4px" for="district">District </label>
                    <input type="text" value="{{search.district}}" name="district">
                </div>
            </div>
        </div>

        <div class="row px-2 pt-2">
            <h3>House</h3>
            <hr>
            <div class="row px-3">
                <div class="col">
                    <label style="padding: 4px" for="vacant">Show only vacant</label>
                    <input type="checkbox"
                           {{#compare search.vacant 'yes'}}checked{{/compare}} id="vacant" name="vacant" value="yes">&nbsp;&nbsp;
                </div>
            </div>
            <div class="row px-3">
                <div class="col">
                    <label style="padding: 4px" for="rating">Rating </label><br>
                    <input type="number" min="0" max="5" value="{{search.rating_low}}" name="rating_low"
                           placeholder="min">
                    <label> - </label>
                    <input type="number" min="0" max="5" value="{{search.rating_high}}" name="rating_high"
                           placeholder="max">
                </div>
            </div>
            <div class="row px-3">
                <div class="col">
                    <label style="padding: 4px" for="price">Price Range </label>
                    <div class="col"><input type="number" min="0" value="{{search.price_low}}" name="price_low"
                                            placeholder="min"></div>
                    <div class="col"><input type="number" min="0" value="{{search.price_high}}" name="price_high"
                                            placeholder="max"></div>
                </div>
            </div>
            <div class="row px-3">
                <div class="col">
                    <label style="padding: 4px" for="space">Space (in sq ft)</label>
                    <input type="number" min="0" value="{{search.space}}" name="space">
                </div>
            </div>
            <div class="row px-3">
                <div class="col">
                    <label style="padding: 4px" for="floor">Floor level </label>
                    <input type="number" min="0" value="{{search.floor}}" name="floor">
                </div>
            </div>
            <div class="row px-3">
                <div class="col">
                    <label style="padding: 4px" for="bedroom">Number of Bedrooms </label>
                    <input type="number" min="0" value="{{search.bedroom}}" name="bedroom">
                </div>
            </div>
            <div class="row px-3">
                <div class="col">
                    <label style="padding: 4px" for="bathroom">Number of Bathrooms </label>
                    <input type="number" min="0" value="{{search.bathroom}}" name="bathroom">
                </div>
            </div>
            <div class="row px-3">
                <div class="col">
                    <label style="padding: 4px" for="garage">Garage</label>
                    <input type="checkbox"
                           {{#compare search.garage 'yes'}}checked{{/compare}} id="garage" name="garage" value="yes">&nbsp;&nbsp;
                    <label style="padding: 4px" for="elevator">Elevator</label>
                    <input type="checkbox"
                           {{#compare search.elevator 'yes'}}checked{{/compare}} id="elevator" name="elevator"
                           value="yes">
                </div>
            </div>
        </div>
        <div class=" px-3">
            <input type="submit" value="Search">
            <input type="reset" value="Reset">
        </div>
    </form>
</div>

<div class="container main-search">
    <div class="row px-3 pt-3">
        <div class="col-3">
            <select name="sort" form="search">
                <option value="rating" {{#compare search.sort 'rating'}}selected{{/compare}}>Rating</option>
                <option value="price" {{#compare search.sort 'price'}}selected{{/compare}}>Price</option>
                <option value="space" {{#compare search.sort 'space'}}selected{{/compare}}>Space</option>
                <option value="room" {{#compare search.sort 'room'}}selected{{/compare}}>Total rooms</option>
                <option value="space" {{#compare search.sort 'space'}}selected{{/compare}}>Space</option>
                <option value="floor" {{#compare search.sort 'floor'}}selected{{/compare}}>Floor level</option>
            </select>
            <select name="order" form="search">
                <option value="ASC" {{#compare search.order 'ASC'}}selected{{/compare}}>Ascending</option>
                <option value="DESC" {{#compare search.order 'DESC'}}selected{{/compare}}>Descending</option>
            </select><br>
            <input type="submit" value="sort" form="search">
        </div>
    </div>
    <div class="row px-2 justify-content-center">
        {{>house-card}}
    </div>
</div>